/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block {
    border-width: 12px;
    border-style: outset;
    display: inline-block;
    padding: 20px;
}

.blue {
    background-color: rgb(68, 68, 250);
    border-color: rgb(17, 0, 255);
}

.red {
    background-color: rgb(255, 1, 1);
    border-color: rgb(201, 11, 11);
}
.yellow { 
    background-color: yellow;
    border-color: rgb(196, 196, 8);

}

.green {
    background-color: green;
    border-color: rgb(17, 112, 17);
}
