* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url("../images/images/misty-mountains.jpg");
    height: 100vh;
    background-size: cover;
    background-size: cover cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero h1 {
    font-size: 12vw;
    padding-left: 10vw;
}